services:
  app:
    #env_file: .env
    build: .
    ports:
      - "8006:5000"
      - "8007:8000"
      - "5679:5678"
    expose:
      - "8000"
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=1
      - DEBUGGER_PORT=5679
    volumes:
      - .:/app
      - sensor_data_volume:/data
    cap_add:
      - SYS_PTRACE  # Necessario per alcuni debugger
    security_opt:
      - seccomp:unconfined
    depends_on:
      - sqlite
    networks:
      - iot-net
      - py-net
  sqlite:
    image: alpine:latest
    container_name: sqlite
    hostname: sqlite.hibit
    ports:
      - "8191:8191"
    networks:
      - py-net
    volumes:
      - sensor_data_volume:/daversion: '3.9'

services:
  app:
    #env_file: .env
    build: .
    ports:
      - "8006:5000"
      - "8002:8000"
      - "5679:5678"
    expose:
      - "8000"
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=1
      - DEBUGGER_PORT=5679
    volumes:
      - .:/app
      - sensor_data_volume:/data
    cap_add:
      - SYS_PTRACE  # Necessario per alcuni debugger
    security_opt:
      - seccomp:unconfined
    depends_on:
      - sqlite
    networks:
      - iot-net
  sqlite:
    image: hibitdev/sqlite:latest
    container_name: sqlite
    hostname: sqlite.hibit
    ports:
      - "8191:8191"
    networks:
      - iot-net
    volumes:
      - sensor_data_volume:/data
    command: [ "tail", "-f", "/dev/null" ]  # Keeps the container running

volumes:
      sensor_data_volume:

networks:
  iot-net:
    external: true
ta
    command: [ "tail", "-f", "/dev/null" ]  # Keeps the container running

volumes:
      sensor_data_volume:

networks:
  py-net:
    driver: bridge
  iot-net:
    external: true
