
services:
  app:
    build: .
    ports:
      - "8006:5000"
      - "8007:8000"
      - "5679:5678"
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=1
      - DEBUGGER_PORT=5679
    volumes:
      - .:/app
      - sensor_data_volume:/data
    cap_add:
      - SYS_PTRACE  # Necessary for some debuggers
    security_opt:
      - seccomp:unconfined
    depends_on:
      - sqlite
    networks:
      - iot-net
      - py-net
    # Removed incorrect 'expose' entry (expose is for internal ports only)

  sqlite:
    image: alpine:latest
    container_name: sqlite
    hostname: sqlite.hibit
    ports:
      - "8191:8191"
    networks:
      - py-net
    volumes:
      - sensor_data_volume:/data  # Fixed mount path
    # Moved 'command' from incorrect location in networks section
    command: [ "tail", "-f", "/dev/null" ]  # Keeps the container running

volumes:
  sensor_data_volume:

networks:
  py-net:
    driver: bridge
  iot-net:
    external: true